.input-cpn {
  width: 330px;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
  outline: deepskyblue;
  margin-top: 10px;
  background: #f5f6f7;
}
.input-cpn:focus {
  border: 1px solid #3385ff;
}
