.birthday-select {
  border-radius: 4px;
  border: 1px solid #ccd0d5;
  color: #1c1e21;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 36px;
  line-height: 20px;
  width: 120px;
}

.birthday-select:focus {
  outline: none;
  border: 1px solid #ccd0d5;
}
